# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=XJdOoFmON++sSN9O8BT6tw==,iy5i/jJWM3Et9ehy13d5RA==,lECPlEdGqUSdx5+uk6kKoQ==,QGKwjkD2vrVLa4Ymuz7Dug==
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=tobemodified
DATABASE_PORT=tobemodified
DATABASE_NAME=tobemodified
DATABASE_USERNAME=tobemodified
DATABASE_PASSWORD=tobemodified
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=tobemodified

# Email
SMTP_HOST=tobemodified
SMTP_PORT=tobemodified
SMTP_SECURE=false
SMTP_USER=tobemodified
SMTP_PASS=tobemodified
SMTP_FROM_NAME=tobemodified
SMTP_FROM_EMAIL=tobemodified

# OSS 
OSS_BUCKET="your_bucket_name_here"
OSS_REGION="your_region_here"
OSS_ACCESS_KEY_ID="your_access_key_id_here"
OSS_ACCESS_KEY_SECRET="your_secret_key_here"
# OSS 端点（生产环境使用阿里云内网域名）:
# OSS_ENDPOINT="your_endpoint_here"